@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

#Main {
  align-items: center;
  background-image: url(../../../assets//images/compBg/background-6.jpg);
  background-size: cover;
  color: rgb(255, 255, 252);
  display: flex;
  height: 91vh;
  justify-content: center;
  position: relative;    

  h1 {
    color: rgb(240, 246, 251);
    font-family: 'Paytone One', sans-serif;
    font-size: 5rem;
    letter-spacing: 3px;
    margin: 0;
  }

  p {
    font-size: 0.8rem;
    letter-spacing: 4px;
    margin: 0;
    position: relative;
    top: 15px;
  }

  button {
    margin: 30px auto;
  }
}