@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.home {
  height: 100vh;
  background-image: url(../../images/compBg/background-6.jpg);
  background-size: cover;
  text-align: center;
}
