#AddDestination {
  // height: 80vh;

  p {
    letter-spacing: 2px;
    color: rgb(0, 44, 109);
    font-weight: 700;
    margin-bottom: 2px;
    text-align: left;
  }

  h2 {
    letter-spacing: 2px;
    color: rgb(0, 44, 109);
    font-weight: 700;
    margin: 0 10px;
    text-align: left;
  }

  // h1 {
  //   color: rgb(84, 103, 140);
  //   font-size: 3rem;
  //   margin-top: 50px;
  //   padding: 0;
  //   margin-bottom: 0;
  //   margin-left: 400px;
  //   font-family: 'Paytone One', sans-serif;
  //   letter-spacing: 3px;
  // }
}

.add-destination-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'form dest';
}

.add-destination-header {
  grid-area: header;
}
.Add-Destination-List {
  grid-area: dest;
  width: 40%;
  height: 70%;
  justify-items: start;

  div.header {
    background-color: #6ebaf0;
    padding: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    h2 {
      margin: 0;
      padding: 15px;
      text-align: center;
      letter-spacing: 2px;
    }
  }

  div.content {
    padding: 15px 50px;
  }
}

.add-destination-card {
  background-color: #eff6fc;;
  border: 1px solid #3b88c0;
  border-radius: 20px;
  margin: 80px;
}
